* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --background: #a3b18a;
  --ivory-color:#FFFFF0;
  --letters: black;
  --gris-color: #dad7cd;
  --verde-fuerte: #344e41;
  --verde-semif: #3a5a40;
  --verde-uva: #588157;
  --verde-vino: #a3b18a;
  --font-abel: "Abel", sans-serif;
  --font-Bitter: "Bitter", serif;
  --font-Quicksand: "Quicksand", sans-serif;
}
h1, h2, h3{
  font-family: var(--font-Quicksand);
}

p, span, form{
  font-family: var(--font-Bitter);
}


.index {
  height: 100vh;
}

/*li {*/
/*  list-style: none;*/
/*  color: var(--verde-fuerte);*/
/*  padding: 5px;*/
/*  margin: 10px;*/
/*}*/
/**/
/*a:hover {*/
/*  color: var(--verde-fuerte);*/
/*  background-color: var(--gris-color);*/
/*  border-radius: 15px;*/
/*}*/

header {
  position: relative;
  padding: 0.5em;
  font-family: var(--font-Quicksand);
  height: 90px;
  background-color: var(--background);
}

.logo img {
  width: 250px;
  height: auto;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--verde-uva);
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
  margin: 12px;
}

.action_btn:active {
  transform: scale(0.95);
}
.action_btn:hover {
  transform: scale(1.05);
  color: whitesmoke;
  background-color: var(--verde-fuerte);
}

.dropdown_menu {
  position: absolute;
  display: none;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: rgba(187, 198, 169, 0.2);
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: aliceblue;
}

/* ------ Contact Us--------*/
.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
  background-color: var(--gris-color);
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2 {
  color: white;
  font-weight: 500;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: var(--verde-semif);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h2 {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/*----form---*/

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox {
  width: 100%;
}
.inputBox span {
  color: whitesmoke; /*color of letters*/
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"] {
  background: var(--background);
  color: whitesmoke;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 25px;
}
.inputBox ::placeholder {
  cursor: auto;
}

/*-- info Box --*/
.info {
  background: var(--verde-fuerte);
}
.info h2 {
  color: white;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: whitesmoke;
  background-color: #adbfb8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: whitesmoke;
  font-size: 1.1em;
}
.info .infoBox div a {
  color: whitesmoke;
  text-emphasis: none;
  font-size: 1.1em;
}
.sci {
  margin-top: 40px;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}
.sci li a {
  color: whitesmoke;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover {
  color: #fff;
}
/* --- Map ---- */
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*--- Thank you page----*/ 
.thanks-body{
   background-color: var(--ivory-color);
}
#TU-main{
  padding: 50px;
  width: 100%;
  height: 90%;
} 
.thanks_main {
  margin: 0 auto;
  background-image: url('../IMGs/rainbow_fruit.JPEG');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.letters-box{
  background-color: rgb(0 0 0 / 69%);
}
.thanks_main p {
  color: var(--gris-color);
  font-size: 25px;
  margin-top: 40px;
}

.thanks_main h1 {
  font-size: 18px;
  color: var(--gris-color);
  margin-top: 10px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
  
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@media only screen and (max-width: 576px) {
  footer{
    background-color: var(--verde-vino);
  }
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    grid-gap: 5px;
  }

  .wholefoot h1,
  h2,
  p {
    font-size: 11px;
    padding: 8px;
    text-align: center;
  }
}
