* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --background: #a3b18a;
  --ivory-color: #fffff0;
  --letters: black;
  --gris-color: #dad7cd;
  --verde-fuerte: #344e41;
  --verde-semif: #3a5a40;
  --verde-uva: #588157;
  --verde-vino: #a3b18a;
  --font-abel: "Abel", sans-serif;
  --font-Bitter: "Bitter", serif;
  --font-Quicksand: "Quicksand", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--font-Quicksand);
}

p,
span,
form {
  font-family: var(--font-Bitter);
}

/*----navbar/header---*/

header img {
  width: 180px;
}

.main img {
  width: 27px;
}

body {
  min-height: 100vh;
  background-color: var(--ivory-color);
  color: white;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
  background-color: var(--background);
}

.navbar {
  display: flex;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
}

.navbar a {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--letters);
  background-color: var(--ivory-color);
  border-radius: 7px;
}

.main {
  display: flex;
  align-items: center;
}

#menu-icon button {
  background: transparent;
  color: white;
  cursor: pointer;
  z-index: 10001;
  display: none;
  font-size: 28px;
}

/*----BANNER----*/
#banner {
  text-align: center;
  background-color: var(--verde-uva);
  color: var(--letters);
  font-family: var(--font-abel);
  padding: 1rem;
  display: none;
}
/*------Main------*/
.index-main {
  color: var(--letters);
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.main-pic img {
  width: 100%;
  box-shadow: -7px 8px 28px 0px rgba(0, 0, 0, 0.75);
}

.main-1 {
  text-align: center;
  padding: 15px;
}

.main-2 {
  text-align: center;
  padding: 15px;
}

.main-2 img{
  width: 50%;
}

.main-3 {
  text-align: center;
  padding: 15px;
}

.main-4 {
  text-align: center;
  padding: 15px;
}

.main-4 img {
  width: 100%;
  box-shadow: -7px 8px 28px 0px rgba(0, 0, 0, 0.75);
}

.main-3 img {
  width: 99%;
  box-shadow: -7px 8px 28px 0px rgba(0, 0, 0, 0.75);
}

.main-3 {
  text-align: center;
  align-items: center;
}

button {
  background-color: var(--verde-uva);
  padding: 9px;
  border-radius: 20px;
}
button a {
  color: whitesmoke;
}

button:hover {
  background-color: #aac5aa;
  padding: 15px;
}
.weather-table {
  max-width: 320px;
  margin: 0 auto;
}

div.home-page-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 30px #777;
  padding: 0.75em;
  margin: 5px;
  width: 100%;
}

/*---Fresh---*/
.fresh-main-container {
  color: var(--letters);
  background-color: var(--ivory-color);
}

.page-container {
  color: var(--letters);
}

.page-container h2 {
  font-size: 15px;
}

.page-container p {
  padding: 10px;
  font-size: 15px;
}

#fresh-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

form {
  padding: 1rem;
}

.form-field,
.form-field input,
textarea {
  width: 100%;
}

.form-field {
  margin-bottom: 2rem;
}

#fruit-options {
  display: flex;
  gap: 1rem;
}

#fruit-options select {
  width: 100%;
  height: 44px;
  background: #ffffff;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0 1rem;
}

input {
  border: none;
  border-bottom: 1px solid #ed398c;
  height: 36px;
}

textarea {
  height: 10rem;
  border: none;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
}

/*--- About us/ Work----*/

.us-1 img {
  width: 50%;
  height: auto;
  padding: 10px;
}
.us-2 img {
  width: 50%;
  padding: 10px;
}

.us-3 iframe {
  width: 350px;
  height: 200px;
}

.us-3 {
  padding: 15px;
}

.us-1 p,
.us-2 p,
.us-3 p {
  padding: 15px;
}

.about-us-main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  color: var(--letters);
}

/* ------ Contact Us--------*/
.contactUs {
  position: relative;
  width: 100%;
  padding: 80px 100px;
  background-color: var(--ivory-color);
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2 {
  color: white;
  font-weight: 500;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background: var(--verde-semif);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h2 {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/*----form---*/

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox {
  width: 100%;
}
.inputBox span {
  color: whitesmoke; /*color of letters*/
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"] {
  background: var(--background);
  color: whitesmoke;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  border-radius: 25px;
}
.inputBox ::placeholder {
  cursor: auto;
}

/*-- info Box --*/
.info {
  background: var(--verde-fuerte);
}
.info h2 {
  color: white;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: whitesmoke;
  background-color: #adbfb8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: whitesmoke;
  font-size: 1.1em;
}
.info .infoBox div a {
  color: whitesmoke;
  text-emphasis: none;
  font-size: 1.1em;
}
.sci {
  margin-top: 40px;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
}
.sci li a {
  color: whitesmoke;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover {
  color: #fff;
}
/* --- Map ---- */
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*--- Thank you page----*/
.thanks-body {
  background-color: var(--ivory-color);
}
#TU-main {
  padding: 50px;
  width: 100%;
  height: 90%;
}
.thanks_main {
  margin: 0 auto;
  background-image: url("../IMGs/rainbow_fruit.JPEG");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.letters-box {
  background-color: rgb(0 0 0 / 69%);
}
.thanks_main p {
  color: var(--gris-color);
  font-size: 25px;
  margin-top: 40px;
}

.thanks_main h1 {
  font-size: 18px;
  color: var(--gris-color);
  margin-top: 10px;
}

@media only screen and (max-width: 576px) {
  footer img {
    width: 45%;
  }
  footer h1 h2 h3 {
    font-size: 10px;
  }

  footer {
    text-align: center;
    background-color: var(--verde-vino);
  }

  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    grid-gap: 5px;
  }

  .wholefoot h1,
  h2 {
    font-size: 11px;
    padding: 8px;
    text-align: center;
  }
}
