/*@media only screen and (min-width: 800px) {
}*/

@media only screen and (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .update {
    padding: 15px;
    font-size: 75%;
    text-align: center;
  }

  footer {
    background-color: var(--background);
  }

  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 17px;
    background-color: var(--verde-vino);
  }

  .wholefoot h1 {
    text-align: center;
    font-size: 20px;
  }

  .wholefoot {
    grid-column: 1/2;
  }

  .location {
    grid-column: 2/3;
  }

  .Coinfo {
    grid-column: 4/5;
  }

  /*-------Contact US----*/
  .contactUs {
    padding: 20px;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }

  .map {
    min-height: auto;
    padding: 0;
  }

  /*---thank you page Medium---*/
  #TU-main {
    margin: 121px auto;
  }

  /*---labs----*/

  
}

@media only screen and (min-width: 768px) {
  header {
    height: 90px;
  }
  .labs-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
  }

  .container-card {
    grid-area: 1 / 2 / 3 / 4;
  }

  .carta {
    grid-area: 3 / 2 / 5 / 4; 
    margin-left: 12rem;
  }

  .form-container {
    grid-area: 5 / 2 / 7 / 4;
  }
  .weather-table,
  .weather-card hr {
    max-width: 320px;
  }
}
