@media only screen and (min-width: 800px) {
  #make-your-drink p br {
    display: none;
}

#make-your-drink button {
    max-width: 12rem;
}

#three-day-weather-forecast {
    text-align: center;
}

.forecasts {
    text-align: center;
}
}

@media only screen and (max-width: 992px) {
  #menu-icon button {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 95%;
    height: 29vh;
    background:var(--ivory-color);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all.50s ease;
    color:vaR(--verde-fuerte);
  }

  .navbar a:hover {
    color: var(--letters);
    transform: translateY(5px);
  }

  .navbar.open {
    right: 2%;
    border-radius: 20px;
    height: 105px;
  }


  footer {
    background-color: var(--background);
  }

  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 17px;
    background-color: var(--verde-vino);
  }

  .wholefoot h1 {
    text-align: center;
    font-size: 20px;
  }

  .wholefoot {
    grid-column: 1/2;
  }

  .location {
    grid-column: 2/3;
  }

  .Coinfo {
    grid-column: 4/5;
  }

  /*-------Contact US----*/
  .contactUs {
    padding: 20px;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }

  .map {
    min-height: auto;
    padding: 0;
  }

  /*---thank you page Medium---*/
  #TU-main {
    margin: 121px auto;
  }

  /*---labs----*/
}

@media only screen and (min-width: 768px) {

  .weather-table,
  .weather-card hr {
    max-width: 320px;
  }
}
