* {
  box-sizing: border-box;
}
header {
  background-color: #604d53;
  color: white;
  padding: 0.75em;
  text-align: center;
  font-family: "Castoro Titling", cursive;
  text-shadow: 2px 2px 5px black;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main .sites {
  margin: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dd99bb;
  border-radius: 10px 10px 0px 0px;
}
.sites img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px;
  width: 85%;
}

main .sites h1 {
  padding: 0.2em;
  color: black;
  font-family: "Castoro Titling", cursive;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
  background-color: #ffdbda;
}

main .sites h2,
div,
img,
p {
  font-family: "Castoro Titling", cursive;
}
.sites div,
img,
p {
  margin: 0.8em;
}
.sites h2 {
  margin: 0.5em;
}
body {
  background-color: #9da3a4;
  display: grid;
}

footer {
  background-color: #604d53;
  color: white;
  padding: 1px;
  text-align: center;
  margin-top: 20px;
  font-family: "Castoro Titling", cursive;
  text-shadow: 2px 2px 5px black;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
