@media screen and (min-width: 801px) and (max-width: 1200px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  }

  .first-website {
    grid-column: 1;
  }

  .second-website {
    grid-column: 2;
  }

  .last-website {
    grid-column: 1 / span 2;
  }
}
