@media only screen and (max-width: 32.5em) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  
  main .sites {
    width: 95%;
  }

  #first-website {
    grid-column: 1/2;
  }

  #second-website {
    grid-column: 2/3;
  }

  #last-website {
    grid-column: 1/3;
    grid-row: 2;
  }

}
