@media only screen and (max-width: 800px) {
    .sites {
        grid-template-columns: 1fr;
    }
    .first-website {
        grid-column: 1;
    }
    .second-website {
        grid-column: 1;
    }
    .last-website{
        grid-column: 1;
    }
    header {
        font-size: 0.75em;
    }
    footer {
        font-size: 0.75em;
    }
}