@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1c3738;
  color: #ffffff;
  text-align: center;
}

li,
a,
button {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 125px;
  height: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #42f6f6;
}
button {
  padding: 9px 25px;
  background-color:rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color:rgba(0,136,169,0.8);
}

header img {
  width: 125px;
  height: auto;
}

main p {
  padding: 37px;
  margin: auto;
  width: 60%;
}

main h1,
h2 {
  font-family: "Comfortaa", cursive;
  margin: 25px;
}

#Color_boxes {
  margin: 5em;
}

#Color_boxes a {
  margin: 1em;
  padding: 3em;
  border-style: solid;
  display: inline-block;
}
#first_color {
  background-color: #1c3738;
}

#second_color {
  background-color: #42f6f6;
}
#Third_color {
  background-color: #06d6d6cc;
}
#forth_color {
  background-color: #ffffff;
  color: black;
}

.header_ex {
  font-family: "Nanum Myeongjo", serif;
}

.P_ex {
  font-family: "Lora", serif;
}

.Header_#12{
  font-family: "Comfortaa", cursive;
}
