* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header img {
  width: 150px;
}

.main img {
  width: 27px;
}

body {
  min-height: 100vh;
  background-color: #1c3738;
  color: white;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.navbar {
  display: flex;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
}

.navbar a {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: rgb(66, 246, 246);
}

.main {
  display: flex;
  align-items: center;
}

#menu-icon button {
  background: transparent;
  color: white;
  cursor: pointer;
  z-index: 10001;
  display: none;
  font-size: 28px;
}

/*------------Banner-----------------*/

#banner {
  text-align: center;
  background-color: #a7b3ae;
  font-family: "Nanum Myeongjo", serif;
  padding: 1rem;
  display: none;
}

/*--------------Main----------------*/

main {
  display: grid;
  grid-template-areas:
    "hero"
    "event"
    "weather"
    "news"
    "spotlights";
}
/* --------- Join styles ----------*/

#join-main h1 {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

#join-main {
  display: block;
}
#join-main div {
  box-shadow: none;
}
#join-main form fieldset {
  border-radius: 4px;
  border: 1px solid white;
  margin: 2rem 2%;
  padding: 2% 1rem;
}
#join-main form legend {
  color: white;
  padding: 0 0.5rem;
  margin: 0 1rem;
}
#join-main form label.top,
#join-main form #membership-div {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}
#join-main form label.top input,
#join-main form label.top textarea {
  display: block;
  font-size: 1rem;
  padding: 0.75rem;
  color: white;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: rgb(0, 0, 0, 0.1);
  width: 100%;
  max-width: 20rem;
  font-family: "Nanum Myeongjo", serif;
}
#join-main form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: white;
  font-family: "Nanum Myeongjo", serif;
}
#join-main form input.submitBtn {
  background-color: #46595a;
  color: black;
  font-family: "Nanum Myeongjo", serif;
  border-radius: 1rem;
  width: 100%;
  max-width: 20rem;
  font-weight: bold;
  padding: 0.75rem 5rem;
  margin: 0 0 1rem 3%;
}
.member-benefits {
  display: none;
}
/*--------------Main  Discover----------------*/

#last-visit {
  background-color: #46595a;
  text-align: center;
  font-family: "Lora", serif;
  color: white;
}

#discover-main div {
  background-color: #46595a;
}
#discover-main img {
  max-width: 100%;
  filter: blur(0em);
  transition: filter 1s;
}
#discover-main div img[data-src] {
  filter: blur(0.2em);
}
#discover-main h1 {
  box-shadow: 0px 5px 15px black;
  background-color: #a7b3ae;
  margin-bottom: 1rem;
}
#discover-main h1,
#discover-main div h2 {
  font-family: "Comfortaa", cursive;
  text-align: center;
}
#discover-main div p {
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin: 16px;
}

/*----------------  HERO?--------------------------*/
#hero {
  grid-area: hero;
  position: relative;
  padding: 0;
}

#hero h1 {
  position: absolute;
  color: black;
  text-shadow: 2px 2px #a3b7b8;
  right: 1rem;
  margin-top: 0.5rem;
  font-family: "Nanum Myeongjo", serif;
}

#hero button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: #46595a;
  border-radius: 10px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

#hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------- Event -----------------*/

#event {
  grid-area: event;
  padding: 0;
  position: relative;
}

#Tulips,
#event p {
  position: absolute;
}

#Tulips {
  font-family: "Roboto Slab", sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  top: 1rem;
  left: 1rem;
  box-shadow: none;
}

#Tulips h1,
#Tulip h2 {
  margin: 0;
}

#event p {
  font-family: "Comfortaa", cursive;
  background-color: #46595a;
  padding: 1rem;
  bottom: 1px;
  margin: 1rem;
  border-radius: 10px;
  color: white;
}

#event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-----------Weather----------------*/

#weather {
  grid-area: weather;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background-color: #46595a;
}
#weather h1 {
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  text-shadow: 2px 2px 2px black;
}
#weather h3 {
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  margin: 1rem;
}
#weather img {
  width: 40%;
}
#weTempt {
  float: right;
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
}
#weStatus {
  font-family: "Comfortaa", cursive;
  text-align: right;
  padding-right: 1rem;
  border-bottom: 1px solid black;
  margin: 5px;
}
/*------------News---------------------*/
#news {
  grid-area: news;
  position: relative;
  background-color: #46595a;
  padding: 0.5rem;
}

#news h1,
#news p {
  text-align: center;
  padding: 20px;
}
#news h1 {
  text-shadow: 2px 2px 2px black;
}

/*--------------------------------*/
#spotlights {
  grid-area: spotlights;
  padding: 1rem;
}
#spotlights p {
  font-size: 20px;
}

#Join,
#spotlight3 {
  display: none;
}

#spotlights img {
  width: 100%;
}

#spotlights .spotlight {
  margin: 0;
  text-align: center;
  background-color: #adbfb8;
  padding: 5px;
  box-shadow: 2px 2px 10px black;
  font-family: "Lora", serif;
}

#spotlights .spotlight h1 {
  text-shadow: 2px 2px 2px black;
  font-family: "Comfortaa", cursive;
}
.spots-contact-details {
  border-top: 1px solid black;
  margin: auto;
  font-family: "Montserrat", serif;
  box-shadow: none;
}

/* --------------------*/

main div {
  background-color: #46595a;
  padding: 1em;
  /*border: 1px solid gray;*/
  font-family: "Lora", serif;
  color: white;
  padding: 4em;
}
#spotlights div {
  border: 1px solid gray;
  margin: 0.3em;
  padding: 5em;
}

/* FOoter------------------*/

@media only screen and (max-width: 600px) {
  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    grid-gap: 5px;
  }

  .wholefoot h1,
  h2,
  p {
    font-size: 15px;
    padding: 8px;
    text-align: center;
  }
}
