* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header img {
  width: 150px;
}

.main img {
  width: 27px;
}

body {
  min-height: 100vh;
  background-color: #1c3738;
  color: white;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.navbar {
  display: flex;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
}

.navbar a {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: rgb(66, 246, 246);
}

.main {
  display: flex;
  align-items: center;
}

#menu-icon button {
  background: transparent;
  color: white;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
/*--------------Main----------------*/

main {
  display: grid;
  grid-template-areas:
    "hero"
    "event"
    "weather"
    "news"
    "spotlights";
}
#hero {
  grid-area: hero;
}
#event {
  grid-area: event;
}
#weather {
  grid-area: weather;
}
#news {
  grid-area: news;
}
#spotlights {
  grid-area: spotlights;
  padding: 1em;
}
#spotlight3,
#Join {
  display: none;
}
main div {
  margin: 0.3em;
  background-color: #46595a;
  padding: 1em;
  border: 1px solid gray;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  padding: 4em;
}
#spotlights div {
  border: 1px solid gray;
  margin: 0.3em;
  padding: 5em;
}

/* FOoter------------------*/

@media only screen and (max-width: 600px) {
  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    grid-gap: 5px;
  }

  .wholefoot h1,
  h2,
  p {
    font-size: 15px;
    padding: 8px;
    text-align: center;
  }
}
