/* meduim responsiveness*/
/*------------------NAVBAR------------------*/
@media screen and (max-width: 900px) {
  #menu-icon button {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 95%;
    height: 29vh;
    background: #b8b8b7;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all.50s ease;
  }

  .navbar a:hover {
    color: #89b0ae;
    transform: translateY(5px);
  }

  .navbar.open {
    right: 2%;
    border-radius: 20px;
    height: 128px;
  }

  .contactUs {
    padding: 20px;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }  
  .formBox .row50{
    display: flex;
    gap:0;
    flex-direction: column;
  }
  .inputBox{
    width: 100%;
  }
  .contact{
    padding:30px;
  }
  .map{ 
    min-height: auto;
    padding:0;

  }

  /*-----------Footer--------------*/
  footer img {
    width: 130px;
  }
  .update {
    padding: 15px;
    background-color: #46595a;
    font-family: "Lora", serif;
    font-size: 75%;
    text-align: center;
  }
}
/*-----------------------main -------------------------*/

@media only screen and (min-width: 600px) {
  .main-index {
    grid-template-areas:
      "hero hero hero"
      "news news news"
      "spotlights spotlights spotlights"
      "Join Join Join"
      "event event weather";
  }

  /*-----------------------main Discover Page------------------*/

  #discover-main {
    display: block;
  }
  #discover-main div {
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
  }
  #discover-main div img:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  /*--------------spotlights-----------------*/
  #spotlights {
    display: flex;
    flex-direction: row;
    padding: 16px;
  }
  /*---------Join------------------*/

  #Join {
    grid-area: Join;
    padding: 16px;
    display: block;
  }

  #Join button {
    padding: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 20px;
    background-color: #adbfb8;
  }

  #Join p {
    font-family: "Lora", serif;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-size: 25px;
  }

  /*----------------weather------------------*/

  #Weather {
    margin-left: auto;
    margin-right: 0;
    width: 90%;
  }

  #weTempt {
    font-size: 32px;
  }

  /***--------------THank U page--------*/

  .thanks_main {
    width: 100vw;
  }

  /*-------------------------Footer------------------*/
  footer img {
    width: 130px;
  }

  .update {
    padding: 15px;
    background-color: #46595a;
    font-family: "Lora", serif;
    font-size: 75%;
    text-align: center;
  }

  .wholefoot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 17px;
  }

  .wholefoot h1 {
    text-align: center;
    font-size: 20px;
  }

  .wholefoot {
    grid-column: 1/2;
  }

  .location {
    grid-column: 2/3;
  }

  .Coinfo {
    grid-column: 4/5;
  }
}
