/* meduim responsiveness*/

@media screen and (max-width: 900px) {
    #menu-icon button {
      display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      right: 100%;
      width: 95%;
      height: 29vh;
      background: #b8b8b7;
      display: flex;
      flex-direction: column;
      transition: all 0.5s ease;
    }
  
    .navbar a {
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all.50s ease;
    }
  
    .navbar a:hover {
      color: #89b0ae;
      transform: translateY(5px);
    }
  
    .navbar.open {
      right: 2%;
      border-radius: 20px;
      height: 180px;
    }
  }
  