@media only screen and (min-width: 32.5em) {
    img {
        justify-self: center;
    }
    header{
        width: 100%;
        border-radius: 8px;
        grid-template-columns: auto;
    }
    header h1 {
        text-align: right;
    }
    main h2 {
        font-size: 30px;
    }
    main ul {
        list-style: disc;
    }
    main ul li {
        text-align: left;
        font-size: 20px;
        padding: 5px;
    }
    footer {
        width: 95%;
    }
}