@media only screen and (min-width: 32.5em) {
    img {
        width: 80%;
        height: 150px;
    }
    header{

        width: 100%;
        border-radius: 30px;
    }
    header h1 {
        font-size: x-large;
    }
    main h2 {
        font-size: 30px;
    }
    main ul {
        list-style: disc;
    }
    main ul li {
        text-align: left;
        font-size: 20px;
        padding: 5px;
    }
    footer {
        width: 60%;
    }
}