@media only screen and (max-width: 520px) {
  header img {
    width: 20%;
    height: auto;
  }
  header {
    width: 100%;
    border-radius: 30px;
  }
  header h1 {
    font-size: 100%;
    padding: 50px;
  }
  main h2 {
    font-size: 30px;
  }
  main ul {
    list-style: disc;
  }
  main ul li {
    text-align: left;
    font-size: 20px;
    padding: 5px;
  }

  footer {
    width: 100%;
  }

  footer h1{
    font-size: 20px;
  }
}
