body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
h2 {
	margin-bottom: .5rem;
}
main{
	border: 1px solid #f7010163;
	padding: 1rem;
	background-color: #f7010163;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}

p {
	margin: 1rem;
	border:1px solid rgba(0,0,0,.1);
	padding: .5rem;
	background-color:#eee;
	font-size: smaller;
}

.MyPic{
	width: 220px;
	height: 220px;
	justify-self: center;
	align-self: center;
	filter: drop-shadow(0 0 0.75rem rgb(254, 254, 211));
}